.foot{
        display: flex;
        justify-content: space-around;
        padding: rem(15) 0;
        height: 100%;
        li{
            text-align: center;
            a{
                display: block;
                span{
                    display: block;
                    font-size: rem(90);
                }
            }
        }
    }