.kanjia {
  background: #fff;
}

.kanjia > p {
  text-align: center;
  padding: rem(40) 0;
}

.kanjia > p i {
  margin-left: rem(10);
  font-size: rem(40);
}

.kanjia ul li {
  border-top: 2px solid #f5f5f5;
  display: flex;
}

.kanjia ul li img {
  margin: rem(20) rem(30) rem(15);
  width: rem(290);
  height: rem(290);
}

.kanjia ul li dl {
  width: rem(700);
  padding: rem(40) 0 rem(30);
}

.kanjia ul li dl dd {
  font-size: rem(35);
  color: #999;
  margin: rem(20) 0 rem(45);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.kanjia ul li dl dt:last-child {
  display: flex;
}

.kanjia ul li dl dt:last-child p {
  flex: 1;
  font-size: rem(37);
  color: #999;
}

.kanjia ul li dl dt:last-child p span {
  display: block;
}

.kanjia ul li dl dt:last-child p:first-child {
  color: #ab2b2b;
}

.kanjia ul li dl dt:last-child p:first-child span:last-child {
  color: #000;
}
