@charset "utf-8";

@function rem($px) {
    @return $px / 67.5 + rem;
}

body, body *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html,body,#app{
    width: 100%;
    height: 100%;
    font-size:rem(40);
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}

@import './index/index.scss';
@import './index/foot.scss';
@import './index/kanjia.scss';
@import './index/jingxuan.scss';
@import './index/tuijian.scss';
@import './fenlei/fenlei.scss';
@import './cart/cart.scss';